<p>
	<b>Commenter:</b>
	<%= comment.user.email %>
</p>

<p>
	<b>Comment:</b>
	<%= comment.body %>
</p>

<% if can? :manage, comment %>
	<p>
		<%= button_to 'Destroy Comment', [:admin, comment.post.issue.artist, comment.post.issue, comment.post, comment], :method => :delete %>
	</p>
<% end %>