<div id="<%= dom_id artist %>", class="M_Artist">
<div class="ArtistPicName">
  <%= image_tag artist.post_image.url, class: "A_Avatar" %>
  <h5 class="A_H5Medium">
    <%= artist.name %>
  </h5>
  </div>

  <p class="A_PSmallBook">
    <%= artist.description %>
  </p>

</div>
