<div id="<%= dom_id artist %>", class="outer-card">
  <%= image_tag artist.post_image.url, class: "image-outer"  %>
  <p>
    <%= artist.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= artist.description %>
  </p>

</div>
