<p style="color: green"><%= notice %></p>

<h1>Артисты</h1>


<div id="artists">
  <% @artists.each do |artist| %>
    <%= link_to [artist] do %>
      <%= render artist %>
    <% end %>
  <% end %>
</div>
