<div class="M_HeadContentBanner">
    <%= image_tag "BannerInArtists.png", :class => "A_ContentBannerPic displayvisible" %>
    <%= image_tag "BannerInArtists390.png", :class => "A_ContentBannerPic displaynone" %>
</div>

<h2 class="A_H2 ArtistPageHead">Все артисты</h2>


<div id="artists">
  <% @artists.each do |artist| %>
    <%= link_to [artist] do %>
      <%= render artist %>
    <% end %>
  <% end %>
</div>
