<p style="color: green"><%= notice %></p>
<%= render @artist %>

<div class="inner-body">
  <% if can? :create, Issue %>
    <h2 class="heading">Добавить релиз артиста</h2>
    <%= link_to "Новый релиз", new_admin_artist_issue_path(@artist), class: "link-normal" %>
  <% end %>
  

  <h2 class="heading"> Связанные публикации </h2>
  <% @artist.issues.each do |issue| %>
    <%= render issue.posts %>
  <% end %>
  

  
</div>
