.C_FormSection {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    .M_FormSection select{
        display: flex;
        width: 529px;
        padding: 15px 20px 17px 30px;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background: var(--white);
        font-family: "SuisseRegular";
        font-size: 26px;
        color: var(--black);
    }


}