.C_LinksInMenubar {
    display: flex;
    gap: 20px;
    align-items: center;
}
.C_LinksInMenubar a {
    font-family: "SuisseMedium";
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
}