.C_Photos {
    display: flex;
    gap: 20px;
    width: fit-content;
    margin: 80px auto;
}
@media (max-width: 390px) {
    .C_Photos {
        gap: 10px;
        margin: 30px auto;
    }
    .C_Photos .A_PSmallBook {
        width: 169px;
    }

}