<p>
	<b>Commenter:</b>
	<%= comment.user.email %>
</p>

<p>
	<b>Comment:</b>
	<%= comment.body %>
</p>

<p>
	<%= button_to 'Destroy Comment', [comment.post.issue.artist, comment.post.issue, comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
</p>