<p>
	<b>Commenter:</b>
	<%= comment.commenter %>
</p>

<p>
	<b>Comment:</b>
	<%= comment.body %>
</p>

<p>
	<%= link_to 'Destroy Comment', [comment.post.issue.artist, comment.post.issue, comment.post, comment], :confirm => 'Are you sure?', :method => :delete %>
</p>