<%= form_for([@artist, @issue, @post, @post.comments.build], url: url) do |f| %>
	<div class="InputAndButton">
		<%= f.text_area :body, class: "A_CommentInput", placeholder: "Написать комментарий" %>
		<%= f.submit class: "A_Button", value: "Отправить"%>
	</div>
<% end %>