.A_CommentInput {
    font-family: "SuisseBook";
    font-size: 18px;
    padding: 20px;
    width: 1082px;
    height: 115px;
    background-color: rgba(34, 34, 36, 0.2);
    border-radius: 7px;
    border: none;
    outline: 0 !important;
}
@media (max-width: 390px) {
    .A_CommentInput {
        font-size: 8px;
        height: 86px;
        padding: 10px;
    }
}