.A_H1 {
    font-family: "SuisseMedium";
    font-size: 90px;
    line-height: 95%;
    color: var(--white);
    font-weight: 500;
    width: 1082px;
    margin: 0;
}
@media (max-width: 390px) {
    .A_H1 {
        font-size: 32px;
        line-height: 90%;
    }
}