.A_H2 {
    font-family: "SuisseMedium";
    font-size: 60px;
    color: var(--white);
    font-weight: 500;
    padding: 0;
    margin: 0;
}
@media (max-width: 390px) {
    .A_H2 {
        font-size: 26px;
    }
}