.A_H6 {
    font-family: "SuisseMedium";
    font-size: 18px;
    color: var(--white);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

@media (max-width: 400px) {

    .A_H6 {
        font-size: 12px;
    }
}