.A_Input {
    all: unset;
    font-family: "SuisseRegular";
    font-size: 16px;
    color: var(--white);
    opacity: 50%;
    background-color: var(--black);
    padding: 8px 18px;
    width: 187px;
    border-radius: 660px;
}