.A_PhotoSquareBig {
    width: 531px;
    height: 531px;
    object-fit: cover;
    border-radius: 16px;
}
@media (max-width: 390px) {
    .A_PhotoSquareBig {
        width: 170px;
        height: 170px;
        border-radius: 12px;
    }
}