.A_PhotoRectangleBig {
    width: 1082px;
    height: 531px;
    object-fit: cover;
    border-radius: 16px;
}
@media (max-width: 390px) {
    .A_PhotoRectangleBig {
        width: 344px;
        height: 170px;
        border-radius: 12px;
    }
}