.A_PMediumRegular {
    font-family: "SuisseRegular";
    font-size: 26px;
    line-height: 125%;
    color: var(--white);
}
@media (max-width: 390px) {
    .A_PMediumRegular {
        font-size: 14px;
    }
}