.A_PMediumBook {
    font-family: "SuisseBook";
    font-size: 26px;
    color: var(--white);
    font-weight: 450;
    padding: 0;
    margin: 0;
}
@media (max-width: 390px) {
    .A_PMediumBook {
        font-size: 14px;
    }
}