.A_PSmallMedium {
    font-family: "SuisseMedium";
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}
@media (max-width: 390px) {
    .A_PSmallMedium {
        font-size: 10px;
    }
}