.A_Tag {
    border-style: solid;
    border-color: var(--white);
    outline: none;
    background: none;
    padding: 5px 12px;
    border-width: 2px;
    border-radius: 660px;
    box-shadow: none;
    font-family: "SuisseMedium";
    color: var(--white);
    font-size: 12px;
}