.A_Tag {
    border-style: solid;
    border-color: var(--white);
    outline: none;
    background: none;
    padding: 5px 12px;
    border-width: 1.5px;
    border-radius: 660px;
    box-shadow: none;
    font-family: "SuisseMedium";
    color: var(--white);
    font-size: 12px;
}

.A_Tag a{
    font-family: "SuisseMedium";
    color: var(--white);
    font-size: 12px;
}
@media (max-width: 390px) {
    .A_Tag {
        font-size: 8px;
        padding: 4px 10px;
        border-width: 1px;
    }
}