.A_TextFieldMedium input{
    width: 1025px;
    padding: 20px 20px 14px 30px;
    border-radius: 30px;
    background: var(--white);
    font-family: "SuisseRegular";
    font-size: 22px;
    color: var(--black);
    padding-bottom: 70px;
    outline: 0 !important;
}