<h1>Редактирование релиза</h1>

<%= render "form", artist: @artist, issue: @issue %>

<br>

<div>
  <%= link_to "На страницу релиза", admin_artist_issue_path(@artist, @issue), class: "link-normal"  %>
</div>
