.M_Artist {
    display: flex;
    width: 1004px;
    padding: 20px 50px 20px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: var(--dark-gray);
    margin-bottom: 20px;

    .A_Avatar {
        width: 80px;
        height: 80px;
        border-radius: 660px;
    }

    .ArtistPicName {
        display: flex;
        width: 500px;
        align-items: center;
        gap: 20px;
        flex-shrink: 0;
    }

}

@media (max-width: 390px) {
    .M_Artist {
        width: 320px;
        padding: 15px;
        margin-bottom: 10px;
    
        .A_Avatar {
            width: 40px;
            height: 40px;
        }
    
        .ArtistPicName {
            display: flex;
            width: auto;
            align-items: center;
            gap: 15px;
            flex-shrink: 0;
        }

        .A_PSmallBook {
            white-space: nowrap;
            overflow: hidden;
            width: 114px;
            text-overflow: ellipsis;
        }
    
    }
}