.M_BannerInHeader{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .A_ButtonAddArticleBlack {
        margin-top: -40px;
    }
}

@media (max-width: 400px) {

    .M_BannerInHeader {
        margin-top: 0px;
    }

}