.M_Cite {
    display: flex;
    gap: 20px;
    align-items:self-end;
    width: 1082px;
    margin: 0 auto;
    .CiteBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
        background-color: var(--white);
        border-radius: 16px;
    }
}
.CiteBlock p {
    width: 942px;
    color: var(--black);
}
@media (max-width: 390px) {
    .M_Cite {
        width: 350px;
        gap: 10px;
    }
    .M_Cite .A_AvatarBig {
        width: 40px;
        height: 40px;
    }
    .M_Cite .CiteBlock {
        padding: 10px 10px;
        border-radius: 12px;
        width: 282px;
    }
    .CiteBlock p {
        width: 282px;
    }
    .Short {
        width: 282px;
    }
}