.M_Comment {
    padding: 20px 20px;
    background-color: var(--dark-gray);
    border-radius: 16px;
    .A_PMediumBook {
        color: var(--white);
    }
    .PersonAndComment {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .Reply {
        margin-left: 50px;
    }
    .CommentBody {
        width: 1082px;
    }
}
.Reply {
    .A_PBig, .A_PMediumBook {
        opacity: 0.5;
    }
    .Q_ReplySign {
        display: none;
    }
    .M_Comment {
        padding: 0px;
        margin-top: -25px;
    }
    .A_PBig {
        width: 1020px;
    }
}
@media (max-width: 390px) {
    .M_Comment {
        padding: 10px 10px;
        width: 330px;
    }
    .M_Comment .A_PBig {
        width: 330px;
    }
    .Reply .A_PBig,
    .Reply .M_Comment {
        width: 300px;
    }
    .M_Comment .Reply {
        margin-left: 30px;
    }
    .CommentBody {
        max-width: 330px;
    }
    .Reply .CommentBody {
        width: 300px;
    }
}