.M_Conduction {
    padding: 40px calc(50vw - 541px);
    padding-bottom: 54px;
    height: 132px;
    background-color: var(--dark-gray);
    vertical-align: middle;
    text-align: center;
    line-height: 132px;
}
@media (max-width: 390px) {
    .M_Conduction {
        padding: 20px calc(50vw - 175px);
        height: 88px;
        line-height: 88px;
    }
}