.M_Conduction {
    padding: 40px calc(50vw - 541px);
    padding-bottom: 54px;
    height: 132px;
    background-color: var(--dark-gray);
    vertical-align: middle;
    text-align: center;
    line-height: 132px;
}