.M_Footer {
    background-color: var(--dark-gray);
    display: flex;
    width: 1352px;
    padding: 40px 138px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;

    .A_Logo{
        width: 120px;
    }
}
.M_Footer a {
    font-family: "SuisseMedium";
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}