.M_Footer {
    background-color: var(--dark-gray);
    display: flex;
    width: 1352px;
    padding: 40px 138px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 0 0;
    border-radius: 15px 15px 0px 0px;

    .A_Logo{
        width: 120px;
    }
}
.M_Footer a {
    font-family: "SuisseMedium";
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}
@media (max-width: 390px) {
    .M_Footer {
        padding: 15px 15px;
        margin-top: 30px;
        border-radius: 12px 12px 0px 0px;
        width: 320px;
        justify-content: flex-start;
        gap: 53px;
    }
    .M_Footer .A_Logo {
        width: 114px;
    }
    .M_Footer a {
        font-size: 10px;
    }
}