.M_FormHead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 1078px;
    margin-bottom: 40px;
}

@media (max-width: 400px) {

    .M_FormHead {
        gap: 15px;
        width: 350px;
        margin-bottom: 40px;
    }
}