.M_ParameterBig {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: 660px;
    width: fit-content;
    margin: 0 auto;

}