.M_PhotoAndText {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: fit-content;
    margin: 0 auto;
    .A_PSmallBook {
        width: 531px;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 390px) {
    .M_PhotoAndText {
        gap: 8px;
        width: fit-content;
    }
    .M_PhotoAndText .A_PSmallBook {
        width: 169px;
    }
    .M_Wide .A_PSmallBook {
        width: 350px;
    }
}