.M_Reminder {
    margin-top: 80px;
    margin-bottom: 80px;
    .TitleAndText {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: 139px;
        padding-top: 40px;
        padding-bottom: 134px;
        width: 100vw;
        align-items: center;
        background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.52) 0%, rgba(27, 27, 27, 0.00) 100%),
        url(Eartheater.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .A_H2 {
        width: 1082px;
        text-align: center;
    }
    .A_PMediumBook {
        width: 684px;
        text-align: center;
    }
    .A_ButtonAddArticleBlack {
        position: relative;
        margin: 0 auto;
        margin-top: -75px;
        z-index: 500;
    }
}
@media (max-width: 390px) {
    .M_Reminder {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .M_Reminder .TitleAndText {
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .M_Reminder .A_H2 {
        width: 350px;
    }
    .M_Reminder .A_PMediumBook {
        width: 350px;
    }
    .M_Reminder .A_ButtonAddArticleBlack {
        margin-top: -50px;
    }
}
