.M_SquareCoverCardAdditional {
    overflow: hidden;
    height: 254px;
    width: 263px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0.90) 0%, rgba(27, 27, 27, 0.00) 51.04%, rgba(27, 27, 27, 0.90) 100%), rgba(27, 27, 27, 0.2);
}