.M_VideoCardAdditional {
    overflow: hidden;
    height: 370px;
    width: 665px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0.52) 0%, rgba(27, 27, 27, 0.00) 100%),  rgba(27, 27, 27, 0.2);

    .CoverHole {
        position: absolute;
        height: 85px;
        margin-top: 140px;
        margin-left: 0px;
    }
}

@media (max-width: 400px) {

    .M_VideoCardAdditional {
        height: 230px;
        width: 350px;
        border-radius: 12px;
    
        .CoverHole {
            height: 45px;
            margin-top: 88px;
        }
    }

}