.M_VideoCardAdditional {
    overflow: hidden;
    height: 370px;
    width: 665px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0.52) 0%, rgba(27, 27, 27, 0.00) 100%), rgba(27, 27, 27, 0.2);
}