<div id="<%= dom_id artist %>">
  <p>
    <strong>Name:</strong>
    <%= artist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

  <p>
  <strong>Added by</strong>
  <%= artist.user.email %>
  </p>

</div>
