<p style="color: green"><%= notice %></p>

<h1>Артисты</h1>

  <%= link_to "Добавить", new_admin_artist_path, class: "link-normal action-button center-text", style: "margin: 0; width: 100px;" %>


<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p class="action-button">
      <%= link_to "На страницу артиста", [:admin, artist], class: "link-normal center-text" %>
    </p>
  <% end %>
</div>
