<div class="M_BannerInHeader">
<div class="A_BannerPicInHeader">
<%= image_tag "FirstBannerMain.png", :class => "A_FirstBannerMain" %>
</div>
<button class="A_ButtonAddArticleBlack">
    <%= image_tag "PlusIcon.svg", :class => "A_PlusIcon" %>
    <p>Написать<br>о новинке</p>
        </button>
</div>

