<h1>New post</h1>

<%= render "form", artist: @artist, issue: @issue, post: @post %>

<br>

<div>
  <%= link_to "Back to release", admin_artist_issue_path(@artist, @issue), class: "link-normal" %>
</div>
