<h1>Редактирование поста</h1>

<%= render "form", post: @post, url: artist_issue_post_path(@artist, @issue, @post) %>

<br>

<div>
  <%= link_to "На страницу публикации", artist_issue_post_path(@artist, @issue, @post), class: "link-normal" %>
</div>
