<h1>Новая публикация</h1>

<%= render "form", post: @post, url: posts_path(@post) %>

<br>

<div>
  <%# link_to "На страницу релиза", artist_issue_path(@artist, @issue), class: "link-normal" %>
</div>
