body {
    font-family: Inter;
    background-color: #CFCFCF;
  }

h1, h2, h3, p {
    color: white;
}

.link-normal {
    color: yellow;
    text-decoration: none;
}
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  