  @font-face {
    font-family: "PangramBold";
    src: url("/assets/PPPangramSans-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "PangramLight";
    src: url("/assets/PPPangramSans-Light.otf") format("opentype");
  }
  @font-face {
    font-family: "PangramMedium";
    src: url("/assets/PPPangramSans-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "PangramSemibold";
    src: url("assets/PPPangramSans-Semibold.otf") format("opentype");
  }
  @font-face {
    font-family: "PangramThin";
    src: url("/assets/PPPangramSans-Thin.otf") format("opentype");
  }
  @font-face {
    font-family: "SuisseBold";
    src: url("/assets/SuisseIntl-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "SuisseMedium";
    src: url("/assets/SuisseIntl-Medium.otf") format("opentype");
  }
  @font-face {
    font-family: "SuisseBook";
    src: url("/assets/SuisseIntl-Book.otf") format("opentype");
  }
  @font-face {
    font-family: "SuisseRegular";
    src: url("assets/SuisseIntl-Regular.otf") format("opentype");
  }
