@media only screen and (min-width: 320px) and (max-width: 744px) {
    .first-section {
        min-height: 75vh;
    }
    .menu-text {
        font-size: 14px;
    }
    .promot{
        width: 49px;
    }
    .aboutt{
        width: 73px;
    }
    .tgt{
        width: 117px;
    }
    .menu-box{
        padding: 4vw 0;
    }
    .wave-one{
        width: 254vw;
        rotate: -166deg;
    }
    .wave-one-box{
        margin-top: 13%;
        margin-left: -196%;
    }
    .wave-two-box{
        margin-top: -168%;
        margin-left: -36%;
        rotate: -14deg;
    }
    .wave-two{
        width: 214vw;
    }
    .logo{
        width: 77.95vw;
    }
    .logo-description{
        font-size: 4.87vw;
    }
    .logo-box{
        margin-top: -109%;
    }
    .wave-three{
        width: 600.93vw;
        rotate: -19deg;
    }
    .wave-three-box{
        margin-left: -186%;
        margin-top: -80%;
    }
    .text-head{
        font-size: 24px;
    }
    .text{
        font-size: 16px;
        width: 79vw;
    }
    .text-box-one{
        gap: 10px;
        margin-top: -140%;
    }
    .poppy{
        width: 306.41vw;
    }
    .poppy-box{
        margin-top: 1%;
        margin-left: -74%;
    }
    .third-section{
        overflow: hidden;
    }
    .text-box-two{
        margin-top: 20%;
    }
    .artist-line-mob{
        display: block;
        width: 174.87vw;
    }
    .charli{
        display: none;
    }
    .halsey{
        display: none;
    }
    .dorian{
        display: none;
    }
    .artist-line{
        width: 110.78vw;
        gap: 49px;
    }
    .die-small {
        padding: 2.82vw;
        width: 66.41vw;
        gap: 2.82vw;
        margin-top: -92%;
        margin-left: 62%;
    }
    .die-image-small {
        width: 11.54vw;
        height: 11.54vw;
    }
    .names-and-description {
        gap: 1vw;
    }
    .h5-about {
        font-size: 14px;
    }
    .p-super-small-about {
        font-size: 7px;
    }
    .p-small-about {
        font-size: 12px;
    }
    .description {
        width: 46.67vw;
    }
    .die-big {
        padding: 2.82vw;
        width: 63.85vw;
        gap: 2vw;
        margin-top: 22%;
        margin-left: -51%;
        rotate: -24deg;
    }
    .die-image {
        width: 63.85vw;
        height: 41.03vw;
    }
    .avatar-image {
        width: 6.67vw;
        height: 6.67vw;
        border-radius: 5vw;
    }
    .avatar-and-names {
        gap: 2vw;
        width: 64vw;
        padding-top: 0vw;
    }
    .date {
        width: 62vw;
    }
    .description {
        width: 62vw;
    }
    .wave-four{
        width: 376.11vw;
    }
    .wave-four-box{
        margin-top: -165%;
        margin-left: 4%;
    }
    .main-head{
        font-size: 7.69vw;
        width: 69.23vw;
    }
    .main-head-box{
        margin-top: 19%;
    }
    .nessa{
        width: 236.39vw;
    }
    .nessa-box{
        margin-top: -65%;
        margin-left: -60%;
    }
    .jazmin{
        width: 96vw;
    }
    .jazmin-box{
        margin-top: -145%;
        margin-left: 51%;
    }
    .wave-five{
        width: 198.91vw;
        margin-left: -17%;
        height: 100%;
    }
    .mail-main{
        margin-top: -20%;
        margin-left: 0%;
        width: 100vw;
        height: 119.23vw;
    }
    .text-box-three{
        gap: 10px;
        margin-top: -96%;
    }
    .your-mail{
        font-size: 14px;
    }
    .send{
        font-size: 14px;
    }
    .mail-input{
        margin-top: 3%;
        width: 65vw;
        padding: 11px 22px;
        border-radius: 19px;
    }
    .footer-section{
        margin-top: -6%;
        position: relative;
        width: 100vw;
        overflow: hidden;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 22px 0px; 
        grid-template-areas: 
          "logo-footer credits"
          "adc-logo-box-main credits"; 
        justify-content: stretch; 
        justify-items: center; 
        align-items: stretch; 
        padding-bottom: 3vw;
    }
    .logo-footer{
        width: 154px;
        grid-area: logo-footer;
    }
    .adc-logo-box-main{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 5.64vw;
        grid-area: adc-logo-box-main;
    }
    .adc-logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.05vw;
    }
    .adc-logo{
        width: 13px;
    }
    .adc-text{
        font-size: 12px;
    }
    .adc-year{
        font-size: 12px;
    }
    .credits{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.59vw;
        grid-area: credits;
        padding-right: 0vw;
    }
    .authors{
        gap: 1.28vw;
    }
    .authors-head{
        font-size: 8px;
    }
    .authors-text{
        font-size: 12px;
    }
}