<h1>Editing subscription</h1>

<%= render "form", admin: :admin, subscription: @subscription %>

<br>

<div>
  <%= link_to "Back to subscription", admin_subscription_path, class: "link-normal" %>
</div>
