<p style="color: green"><%= notice %></p>

<h1>Подписки</h1>

<div id="subscriptions">
  <% @subscriptions.each do |subscription| %>
    <%= render subscription %>
    <p>
      <%= link_to "На страницу подписки", [:admin, subscription], class: "link-normal wrapped-action-button center-text narrow", style: "margin-bottom: 50px;" %>
    </p>
  <% end %>
</div>

<%= link_to "Новая подписка", new_admin_subscription_path, class: "link-normal" %>
