<section class="footer-section"> 
<%= image_tag "promo/logo-footer.svg", :class => "logo-footer" %>
<div class="adc-logo-box-main">
<div class="adc-logo-box">
<%= image_tag "promo/adc-logo.png", :class => "adc-logo" %>
<p class="adc-text">ADC AC</p>
</div>
<p class="adc-year">2023/2024</p>
</div>
<div class="credits">
<div class="authors">
<p class="authors-head">авторы</p>
<p class="authors-text">Тимофей Тимофеев<br>Данил Передня<br>Саша Шушина</p>
</div>
<div class="authors">
<p class="authors-head">кураторы</p>
<p class="authors-text">Захар День<br>Вадим Булгаков<br>Дмитрий Александров</p>
</div>
</div>
</section> 