<nav>
  <div class="menubar">
    <%= link_to "Промо", welcome_index_url, class: "menubar-link" %>
    <%= link_to "О проекте", welcome_about_url, class: "menubar-link"  %>
    <%= link_to "Артисты", admin_artists_url, class: "menubar-link" if current_user %>
  </div>
</nav>