<div class="menu-box">
<%= link_to "Промо", welcome_index_url, class: "menu-text promot" %>
<%= link_to "О проекте", welcome_about_url, class: "menu-text aboutt" %>
<%= link_to "Телеграм-канал", "https://t.me/mmusial", class: "menu-text tgt" %>
</div>