<div class="menu-box">
<a class="menu-text promot" target="”_blank”" href="https://6hm8g8l.github.io/landing/#three">Промо</a>
<a class="menu-text aboutt" target="”_blank”" href="https://6hm8g8l.github.io/landing/#three">О проекте</a>
<a class="menu-text tgt" target="”_blank”" href="https://6hm8g8l.github.io/landing/#three">Телеграм-канал</a>
</div>